.container {
    width: 90vw;
    margin: 0 auto;

}

.main {
    display: flex;
    gap: 10px;
    flex-direction: column;

    &__card {
        padding: 30px 20px;
        display: flex;
        flex-wrap: wrap;
        gap: 60px;
    }
}

.generateSorting {
    display: flex;
    gap: 20px;
}

.sort:hover {
    cursor: pointer;
    color: green;
}

.generateSorting {
    margin-left: 20px;
}


.generalAddForButton {
    display: flex;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: #EEF2D1;
    width: 170px;
    margin-left: auto;
}



.header_login {
    padding: 10px 30px;
    border: 1px solid black;
    border-radius: 10px;
}