.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
}

.cartImage {
    width: 169px;
    height: 169px;
    object-fit: fill;
    border-radius: 20px;
}

.cartGeneral {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.removeFromCart {
    color: red;
    cursor: pointer;
}