@mixin forCursor {
    cursor: pointer;
}

@mixin colorBlue {
    color: blue;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-left: auto;
    margin-right: auto;

    &__picture {
        width: 140px;
        height: 140px;
        object-fit: cover;
        border-radius: 20px;
        @include forCursor();
    }
}

.sort {
    display: flex;
    gap: 20px;
}

.upDate {
    @include forCursor();
    color: red;
    font-size: 14px;
}

.forBascet {
    @include forCursor();
    @include colorBlue();
    font-size: 14px;

}

.bascet__btn {
    @include forCursor();
    @include colorBlue();
    font-size: 14px;

}